body {
    margin: 20px;
}

.float-right {
    float: right;
    margin-right: 10px;
    margin-left: 16px;
}

.price-up {
    color: #009933;
    /*animation: fadein 1s;*/
}

.price-down {
    color: #D14836;
    /*animation: fadein 1s;*/
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}